@import "tailwindcss";

.root {
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.Header {
  background-color: rgba(62, 214, 63, 0.3); /* 30% opacity */
}


.nav-linkk {
  background-color: #3ED63F;
}


.Header--container {
  flex: 1;
  background-color: green;
}

.Footer--container {
  flex: 1;
  background-color: red;
}

.Content--container {
  flex: 5;
  background-color: white;
  overflow-y: scroll;
}

.ul-line {
  color: black;
  
}

.ul-text {
  color: blue;
}

.h-fit {
  height: fit-content;
}

.foot {
  background: linear-gradient(#93DBFA, #1D4554);
  
}

.section {
  background: linear-gradient(#DAFAD9, #B7F5B5);
}

.box {
  border-radius: 40%;
  background-color: #C1F8BF;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.hr {
  color: blue;
}

.google {
  height: 300px;
  width: 300px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}

